@use 'assets/scss/base' as *;

.header {
	overflow: hidden;
	margin: 0 auto;
	min-width: $sc-sm;
	max-width: auto;

	position: relative;
	padding-bottom: 100px;
	border-bottom-left-radius: 100px;
	z-index: 3;

	@include linear-gradient-mixin(
		to top left,
		$gradient-light-red,
		$gradient-very-light-red
	);

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url('../../assets/images/bg-pattern-intro-mobile.svg');
		background-repeat: no-repeat;
		background-position: center center;
		z-index: -1;
		filter: grayscale(15%);

		// responsive header image background layer
		@include tablet {
			background-image: url('../../assets/images/bg-pattern-intro-desktop.svg');
			background-size: cover;
			background-position: left;
			transform: scale(1.8) translateX(300px);
		}
	}

	&--top {
		display: flex;
		margin: 0 auto;
		max-width: $sc-xl;
		align-items: center;
		justify-content: space-between;

		padding: 20px 10px;
		padding-top: 50px;
		position: relative;

		.logo {
			font-weight: 900;
			font-size: 1.8rem;
			color: $neutral-white;
		}

		nav.menu {
			display: flex;
			flex-direction: column;

			@include tablet {
				flex: 1;
			}

			.toggle-icon {
				label img {
					cursor: pointer;
					transition: all 0.5s;
				}

				// responsive toggle icon
				@include tablet {
					display: none;
				}
			}

			ul.links {
				position: absolute;
				top: 100px;
				left: -50%;
				right: -50%;
				width: 90%;
				padding: 20px;
				margin: 0 auto;
				list-style: none;
				text-align: center;
				border-radius: 10px;
				background-color: $neutral-white;

				display: flex;
				flex-direction: column;
				justify-content: center;

				// Responsive navigation links.
				@include tablet {
					align-items: center;
					background-color: unset;

					position: unset !important; // make sure all elements are rebase to init styles
					transform: none !important;

					flex-direction: row;
				}

				.link {
					font-weight: 600;
					font-size: 1.1rem;
					text-decoration: none;
					color: $primary-very-dark-blue;
					@include tablet {
						color: $neutral-white;
						&:hover {
							text-decoration: underline;
						}
					}
				}

				li.item {
					width: 100%;
					padding: 15px 0;

					position: relative;
					// make styles for button sign up on responsive.
					@include tablet {
						a.link-button.bg {
							background: $neutral-white;
							color: $gradient-light-red;
						}
					}

					label {
						cursor: pointer;

						input:checked + img {
							transition: all 0.4s;
							transform: rotate(180deg);
						}
					}

					// For sub-menu
					ul.sub-menu {
						opacity: 0.8;
						margin-top: 10px;
						padding: 10px 5px;
						border-radius: 10px;
						background-color: $neutral-grayish-blue;

						// responsive submenu
						@include tablet {
							position: absolute;
							right: 0;
							padding: 20px 30px;
							background-color: $neutral-white;
						}

						li {
							a {
								padding: 10px 0;
								font-weight: 600;
								display: inline-block;
								text-decoration: none;
								color: $primary-very-dark-blue;

								@include tablet {
									&:hover {
										color: $neutral-very-dark-black-blue;
									}
								}
							}
						}
					}
				}

				li.break-item {
					width: 80%;
					height: 1px;
					margin: 0 auto;
					background-color: $neutral-grayish-blue;

					@include tablet {
						background-color: unset;
					}
				}
			}
		}
	}

	.banner {
		text-align: center;
		color: $neutral-white;
		.title {
			font-size: 0;
			font-size: 3rem;
			margin-top: 100px;
			line-height: 50px;
			margin-bottom: 30px;
		}

		.tiny-caption {
			margin-bottom: 20px;
		}

		.vertical-buttons {
			* {
				margin: 10px;
			}
		}
	}
}
